<input type="text" [(ngModel)]="fullname" /> 

{{fullname}}


<h2 *ngIf="isLoggedIn; then mohamedthan; else samirelse ">

</h2>

<ng-template #mohamedthan>
    <h2>
        mohamed
    </h2>
</ng-template>


<ng-template #samirelse>
    <h2>
        {{fullname}} samir 
    </h2>
</ng-template>

<div [ngSwitch]="car">
    <div *ngSwitchCase="'acar'">a</div>
    <div *ngSwitchCase="'bcar'">b</div>
    <div *ngSwitchCase="'toyota'">toyota</div>
    <div *ngSwitchCaseDefault>a</div>
</div>

<div *ngFor="let item of cars">
    {{item}}
</div>

{{fullname}}
<br>
{{fullname|uppercase }}

<br>
{{fullname|slice:3 }}

<br>
{{fullname|slice:3:5}}

<br>
{{500.845|number:'2.5-5'}}

<br>
{{0.8458|currency}}
<br>
{{500.845|number:'2.5-5'}}
<br>
{{date}}
<br>
{{date|date:"short" }}
<br>
{{date|date:"shortDate" }}
<br>
{{date|date:"shortTime" }}
<br>
{{date|date:"medium" }}
